---
interface Props {
  title: string;
  lede?: string | null;
}

const { title, lede } = Astro.props;
---

<div class="page-header">
  <div class="container">
    <h1>{title}</h1>
    {lede && <p class="lede prose">{lede}</p>}
  </div>
</div>
